.row
  .col-md-6
    .card
      .card-body
        = image_tag 'habita-brasilia-banner.png', width: '100%'
  .col-md-6
    .card
      .card-body
        = image_tag 'acoes-urbanas-banner.png', width: '100%'