.row
  .col-md-3
    .card
      .card-body.text-center
        = image_tag 'ouvidoria-small-banner.png'
  .col-md-3
    .card
      .card-body.text-center
        = image_tag 'esic-small-banner.png'
  .col-md-3
    .card
      .card-body.text-center
        = image_tag 'sinjdf-small-banner.png'
  .col-md-3
    .card
      .card-body.text-center
        = image_tag 'cartaservicos-small-banner.png'